*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 112.5%;
  background-color: #19a2ae;
  font-family: "Kumbh Sans", sans-serif;
}

.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

.container {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #19a2ae;
}

.container__main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.container__main:before, .container__main:after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: auto;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.container__main:before {
  top: 10%;
  left: 10%;
  background: url("../images/bg-pattern-top.svg") no-repeat bottom right;
}

.container__main:after {
  top: 90%;
  left: 90%;
  background: url("../images/bg-pattern-bottom.svg") no-repeat top left;
}

.card {
  height: 20.7rem;
  width: 16rem;
  border-radius: 1.2rem;
  box-shadow: 0 2.8rem 5.6rem -1.2rem rgba(8, 70, 94, 0.506);
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.card__header {
  height: 15.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 7.7rem;
  background: url("../images/bg-pattern-card.svg") no-repeat center;
  background-size: auto;
  background-size: cover;
  border-radius: 1.2rem 1.2rem 0 0;
}

.card__header-name, .card__header-age {
  display: inline-block;
  font-size: 1rem;
  text-align: center;
}

.card__header-title {
  margin-top: 1.3rem;
  order: 2;
}

.card__header-name {
  font-weight: 700;
  letter-spacing: 1px;
}

.card__header-age {
  font-weight: 400;
  color: #6a6f81;
}

.card__header-location {
  margin-top: 0.4rem;
  font-size: 0.7rem;
  order: 3;
  color: #6a6f81;
}

.card__header-img {
  margin-top: 3.4rem;
  background-color: #fff;
  border-radius: 4rem;
  z-index: 10;
}

.card__header-img img {
  width: 5.3rem;
  order: 1;
  border-radius: 3rem;
  border: 5px solid #fff;
}

.card__stats {
  height: 4.9rem;
  display: flex;
  justify-content: space-around;
  padding: 1.63rem;
  list-style-type: none;
  position: relative;
}

.card__stats:before {
  content: '';
  height: 0.06rem;
  background-color: #969696;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.card__stats-list {
  text-align: center;
}

.card__stats-list-number {
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.card__stats-list-label {
  font-size: 0.5rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #6a6f81;
}

@media (max-width: 420px) {
  .profile__card {
    width: 17rem;
  }
}

@media (min-width: 480px) {
  .profile__card {
    width: 19.4rem;
  }
}

@media (min-width: 768px) {
  .component-box__main::before {
    top: 0%;
    left: 0%;
  }
  .component-box__main::after {
    top: 100%;
    left: 100%;
  }
}
/*# sourceMappingURL=main.css.map */